<div class="green-cat-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">Зелёный Кот</span>
			<div class="mdl-layout-spacer"></div>
			<a class="mdl-button mdl-js-button mdl-button--icon" href="#!/settings">
				<i class="material-icons">settings</i>
			</a>
		</div>
	</header>
	<main class="mdl-layout__content mdl-color--grey-800">
		<div class="mdl-grid">
			<sensor-card class="mdl-cell mdl-cell--4-col" name="Влажность почвы" value="{{ sensors.soil_humidity | number:0 }}%"></sensor-card>
			<sensor-card class="mdl-cell mdl-cell--4-col" name="Температура CPU" value="{{ sensors.cpu_temperature }}&deg;C"></sensor-card>
			<sensor-card class="mdl-cell mdl-cell--4-col" name="Сигнал WiFi" value="{{ sensors.wifi_signal }} dBm"></sensor-card>
			<sensor-card class="mdl-cell mdl-cell--4-col" name="Время устройства" value="{{ sensors.__ts | date:'HH:mm' }}"></sensor-card>
		</div>
	</main>
</div>
