<div class="green-cat-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<button class="mdl-button mdl-js-button mdl-button--icon" ng-click="back()">
				<i class="material-icons">arrow_back</i>
			</button>
			<span class="mdl-layout-title">Настройки</span>
			<div class="mdl-layout-spacer"></div>
		</div>
	</header>
	<main class="mdl-layout__content mdl-color--grey-800">
		<div class="mdl-grid">
			<div class="mdl-card mdl-shadow--2dp mdl-cell">
				<div class="mdl-card__supporting-text mdl-color-text--black">
					<form name="form" class="settings-list">
						<fieldset>
							<legend>Общие</legend>
							<div class="setting">
								<label for="sensorsReadIntervalSec">Периодичность опроса датчиков, сек.</label>
								<input class="mdl-textfield__input" type="number" id="sensorsReadIntervalSec"
										name="sensorsReadIntervalSec" placeholder="Число" required
										ng-model="settings.sensorsReadIntervalSec"
										ng-class="{'error': form.sensorsReadIntervalSec.$invalid}" />
							</div>
						</fieldset>
						<fieldset>
							<legend>Бесшумный режим</legend>
							<div class="setting">
								<label class="mdl-checkbox mdl-js-checkbox" for="quietMode_on">
									<input type="checkbox" id="quietMode_on" class="mdl-checkbox__input"
											ng-model="settings.quietMode.on">
									<span>{{ settings.quietMode.on ? 'Включен' : 'Выключен' }}</span>
								</label>
							</div>
							<div class="setting" ng-show="settings.quietMode.on">
								<label for="quietMode_since">Время начала</label>
								<input class="mdl-textfield__input" type="text" id="quietMode_since"
										name="quietMode_since" placeholder="ЧЧ:ММ" required
										ng-model="settings.quietMode.since" ng-pattern="timePattern"
										ng-class="{'error': form.quietMode_since.$invalid}" />
							</div>
							<div class="setting" ng-show="settings.quietMode.on">
								<label for="quietMode_until">Время окончания</label>
								<input class="mdl-textfield__input" type="text" id="quietMode_until"
										name="quietMode_until" placeholder="ЧЧ:ММ" required
										ng-model="settings.quietMode.until" ng-pattern="timePattern"
										ng-class="{'error': form.quietMode_until.$invalid}" />
							</div>
						</fieldset>
						<fieldset>
							<legend>Сигналы ^._.^</legend>
							<fieldset>
								<legend>Сыт и доволен</legend>
								<div class="setting">
									<label for="signal_pleased_sh">Уровень влажности почвы, %</label>
									<select ng-model="settings.signals.pleased.operator">
										<option value="le">меньше или равен</option>
										<option value="eq">равен</option>
										<option value="ge">больше или равен</option>
									</select>
									<input class="mdl-textfield__input" type="number" id="signal_pleased_sh"
											name="signal_pleased_sh" required
											ng-model="settings.signals.pleased.soilHumidityLevel"
											ng-class="{'error': form.signal_pleased_sh.$invalid}" />
								</div>
								<div class="setting">
									<label for="signal_pleased_sl">Библиотека звуков</label>
									<input class="mdl-textfield__input" type="text" id="signal_pleased_sl"
											name="signal_pleased_sl" required
											ng-model="settings.signals.pleased.soundLibrary"
											ng-class="{'error': form.signal_pleased_sl.$invalid}" />
								</div>
							</fieldset>
							<fieldset>
								<legend>Немного голоден</legend>
								<div class="setting">
									<label for="signal_mildHunger_sh">Уровень влажности почвы, %</label>
									<select ng-model="settings.signals.mildHunger.operator">
										<option value="le">меньше или равен</option>
										<option value="eq">равен</option>
										<option value="ge">больше или равен</option>
									</select>
									<input class="mdl-textfield__input" type="number" id="signal_mildHunger_sh"
											name="signal_mildHunger_sh" required
											ng-model="settings.signals.mildHunger.soilHumidityLevel"
											ng-class="{'error': form.signal_mildHunger_sh.$invalid}" />
								</div>
								<div class="setting">
									<label for="signal_severeHunger_sl">Библиотека звуков</label>
									<input class="mdl-textfield__input" type="text" id="signal_mildHunger_sl"
											name="signal_mildHunger_sl" required
											ng-model="settings.signals.mildHunger.soundLibrary"
											ng-class="{'error': form.signal_mildHunger_sl.$invalid}" />
								</div>
							</fieldset>
							<fieldset>
								<legend>Очень голоден!</legend>
								<div class="setting">
									<label for="signal_severeHunger_sh">Уровень влажности почвы, %</label>
									<select ng-model="settings.signals.severeHunger.operator">
										<option value="le">меньше или равен</option>
										<option value="eq">равен</option>
										<option value="ge">больше или равен</option>
									</select>
									<input class="mdl-textfield__input" type="number" id="signal_severeHunger_sh"
											name="signal_severeHunger_sh" required
											ng-model="settings.signals.severeHunger.soilHumidityLevel"
											ng-class="{'error': form.signal_severeHunger_sh.$invalid}" />
								</div>
								<div class="setting">
									<label for="signal_severeHunger_sl">Библиотека звуков</label>
									<input class="mdl-textfield__input" type="text" id="signal_severeHunger_sl"
											name="signal_severeHunger_sl" required
											ng-model="settings.signals.severeHunger.soundLibrary"
											ng-class="{'error': form.signal_severeHunger_sl.$invalid}" />
								</div>
							</fieldset>
						</fieldset>
						<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
								ng-disabled="form.$invalid" ng-click="save()">
							Сохранить
						</button>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>
